.Heading {
    display: flex;
    justify-content:center; 
    flex-direction: column;
    align-items: center;
    padding: 0%;
}


.Counter {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    padding-top: 0%;
}

.add
{
    background-color: #4CAF50; 
    color: white;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1.5rem;
    font-weight: bold;
}

.sub
{
    background-color: #e02121; 
    color: white;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1.5rem;
    font-weight: bold;
}


.btn_display
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
}

#reset
{
color: aliceblue;
background-color: blue;
padding: 1.5vh;
border-radius: 5px;
font-weight: bold;
}

button{
    border: white;
}
.Counter
{
display: flex;
justify-content: space-around;
}



        /* This is CSS for Card show/ Display product  */

.Product
{
    display:fixed;
    flex-direction: column;
    justify-content: center;
    align-items : center;
    height: 50vh;
    width: 20rem;
    background-color: rgba(13, 81, 4, 0.492);
    margin-left: 43%;

    border-radius: 5px;
    padding: 25px;
}

#details>p 
{
    color: white;
    font-size: 1.5rm;
}

.PriceNrate
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: center; */
    color: white;
    font-size: large;
}


#img{
    display: flex;
    justify-content: center;
    height: 20vh;
}

#price{
    display: flex;
    font-size: large;
    /* padding-top: 0px; */
    color: white ;
    justify-content: center;
    align-self: center;
}

#details{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 120px;
    font-size: small;
}
